* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
}

.item {
    background-color: gold;
    border: 1px solid grey;
    min-height: 50px;
}

.container {
    display: grid;
    height: 90vh;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(60, auto) 1fr 1fr 100px;
    /* grid-auto-rows: 60px; */
    /* grid-auto-rows: minmax(60px, auto); */

    grid-template-areas:
        "header header header"
        "sidebar content content"
        "sidebar content content"
        "footer footer footer";
    column-gap: 10px;
    row-gap: 10px;
}

.item-1 {
    grid-area: header;
}

.item-2 {
    grid-area: sidebar;
}

.item-3 {
    grid-area: content;

    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5px;
    row-gap: 5px;
}

.item-4 {
    /* grid-column-start: 2;
    grid-column-end: 4;

    grid-row-start: 2;
    grid-row-end: 4; */

    /* grid-column: 2/4;
    grid-row: 2/4; */

    grid-area: footer;
}

.article {
    border: 5px solid rgb(255, 0, 106);
}

@media (max-height: 900px) {
    .item-3 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-height: 500px) {
    .item-3 {
        grid-template-columns: 1fr;
    }

    .container {
        grid-template-areas:
            "header header header"
            "content content content"
            "sidebar sidebar sidebar"
            "footer footer footer";
    }
}

@media (max-width: 900px) {
    .item-3 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .item-3 {
        grid-template-columns: 1fr;
    }

    .container {
        grid-template-areas:
            "header header header"
            "content content content"
            "sidebar sidebar sidebar"
            "footer footer footer";
    }
}